@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Connor J Webdale
   Date: 10.25.18

   Filename:  pcg_paper.css
   Supporting Files: 

*/

/*Body and Browser layout styles*/
html {
    height: 100%;
    background-color: rgb(128, 97, 21);
}

body {
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    min-height: 100%;
    background-color: rgb(212, 182, 106);
    margin: 0 auto;
}

/*Grid Styles*/
.row {
    clear: both;

}

.row::after {
    clear: both;
    display: table;
    content: "";
}

[class^="col-"] {
    float: left;
}

.col-7-10 {
    width: 70%;
}

.col-1-10 {
    width: 10%;
}

.col-1-5 {
    width: 20%;
}

.col-1-1 {
    width: 100%;
}

.col-42-100 {
    width: 42%;
}

.col-35-100 {
    width: 35%;
}

.col-23-100 {
    width: 23%;
}

/*nav styles*/
nav ul li a {
    text-decoration: none;
    color: rgb(85, 61, 0);
}

nav ul {
    list-style-type: none;
    padding: 0;
    padding-left: 5px;
}

nav#horizontal li {
    font-size: 0.92em;
    text-align: center;
}

nav,
nav#horizontal {
    font-family: ;
    line-height: 19px;
}

/*Article Styles*/
h2 {
    margin: 1vw;
    font-size: 1.1em;
    font-family: 'Roboto Slab', serif;
}

p {
    margin: 1vw;
    text-indent: 1vw;
    font-family: 'Rosario', sans-serif;
}

article div.col-23-100 ul {
    padding-left: 10px;
    padding-right: 5px;
}

article div.col-23-100 ul li {
    margin-top: 10px;
    font-family: 'Rosario', sans-serif;
}

/*Logo*/
header img {
    display: block;
    width: 100%;
    float: left;
    margin: auto;
}

/*Footer Styles*/
footer {
    clear: both;
    background-color: rgb(128, 79, 21);
    text-align: center;
    padding: .5vw;
}